*{
    padding: 0px;
    margin: 0px;
}

.containerHead{
    padding: 20px 40% 20px 30%;
    width: 100%;
    background-color: antiquewhite;
}

.pontuacao{
    margin: 10px 5% 10px 5%;
    display: flex;
    gap: 10px;


}

.itemPontuacao{

    padding: 20px;
    background-color: bisque;
}

.jogadas{
    margin: 10px 5% 10px 5%;
    display: flex;
    gap: 10px;
}